.mainContainer{
    padding-top: 10px;
}
.header{
    position: sticky;
    top: 10px;
    background: rgba($color: #878787, $alpha: 0.3);
    backdrop-filter: blur(4px);
    input{
        max-width: 50px;
    }
    >div:first-child{
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
}
.pagination{
    span{
        font-size: 25px;
        margin: 5px;
        cursor: pointer;
    }
}
.featuresContainer{
    margin-top: 15px;
    font-size: 1.3em;
    color: lighten($color: red, $amount: 30);
    display: flex;
    button{
        color: inherit;
        background: transparent;
        border: none;
        font-size: inherit;
        cursor: pointer;
    }
    @media screen and (max-width: 600px) {
    flex-direction: column;
        >*{
            margin-top: 10px;
        }
    }       
    >*{
        margin-left: 25px;
        display: flex;
        span{
            cursor: pointer;
        }
    }     
}
.postsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    >div{
        margin: 5px;
        width: 300px;
        box-shadow: 4px 4px 5px lightgray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .postBody{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            div{
                float: right;
                margin-right: 20px;
                color: blue;
                font-size: 1.1em;
                cursor: pointer;
            }
        }
        p{
            text-indent: 10px;
        }
        p:first-child{
            font-size: 1.1em;
            font-weight: bold;  
        }  
        p:last-of-type{
            font-style: italic;
        }
        button{
            max-width: 50px;
        }
    }
}